form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    max-width: 2000px;
    align-items: center;
}

form input {
    width: 30%;
    min-width: 320px;
    padding: 12px 20px;
}