<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/checkout.css}">
</head>
<body>

<div th:replace="fragments :: headerUser"></div>

<form id="checkoutInfo" action="checkoutInfo" method="POST" class="centerForced pdHead" onsubmit="return validateCheckoutForm()">
    <div class="centerForced">
        <div class="addressForm">
            <span class="midText">Indirizzo di spedizione</span>
            <input id="destinatario" class="smallText" type="text" placeholder="Destinatario" th:value="${session.acquirente.getNome()+' '+session.acquirente.getCognome()}" name="destinatario" required>
            <input id="indirizzo" class="smallText" type="text" placeholder="Indirizzo" th:value="${session.acquirente.getIndirizzo()}" name="indirizzo" required>
        </div>
        <div class="paymentForm">
            <span class="midText">Metodo di pagamento</span>
            <span id="lambdaFlag" class="normalText centerForced" onclick="lambdaMethod(this)"><input type="hidden" name="lambdaFlag" value="false">Paga con Lambda Points<img th:src="@{/images/coin.svg}" alt="" style="width: 30px"></span>
            <input id="intestatarioCarta" class="smallText" name="intestatarioCarta" type="text" placeholder="Intestatario carta" required>
            <input id="numeroCarta" class="smallText" name="numeroCarta" type="text" placeholder="Numero carta" required>
            <div>
                <input id="CVV" class="smallText" name="CVV" type="text" placeholder="CVV" required>
                <input id="scadenza" class="smallText" name="scadenza" type="text" placeholder="Scadenza" required>
            </div>

            <div class="smallText">
                <input type="checkbox" required> Accetta termini e condizioni
            </div>

        </div>
    </div>
    <button class="violetBtn normalText" type="submit">Conferma</button>
</form>

<script th:src="@{/js/lambdaMethod.js}"></script>
<script th:src="@{/js/validateCheckoutForm.js}"></script>
</body>
</html>