<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambda</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body style="margin-bottom: 0">

<div th:replace="fragments :: headerNormal"></div>

<div id="hero" class="poster">
    <div class="poster__content">
        <div class="bigText">
            <span class="violet">Connetti</span>.
            <span class="violet">Commercia</span>.
            <span class="violet">Cresci</span>.<br>
        </div>

        <div class="normalText mt20">
            Scopri la piattaforma del futuro per il commercio tecnologico
        </div>
        <div class="btns mt50">
            <a th:href="@{userAuth}">
                <button class="button violetBtn clickable" id="utenteBtn">
                    <span class="smallText" style="font-weight: 500">Area utente</span>
                </button>
            </a>

            <a th:href="@{vendorAuth}">
                <button class="button whiteBtn clickable" id="rivenditoreBtn">
                    <span class="smallText" style="font-weight: 500">Area rivenditore</span>
                </button>
            </a>
        </div>

        <div th:if="${msg}" id="ack" class="textCenter mt20" style="margin-inline: 0" th:text="${msg}"></div>
    </div>
    <div class="poster__image">
        <img th:src="@{/images/hero.svg}" alt="">
    </div>
</div>

<script>
    document.getElementById('hero').style.background =
        'url("/images/ellipse.svg") no-repeat center center';
</script>

</body>
</html>