<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/formGeneric.css}">
</head>
<body>
<div th:replace="fragments :: headerNormal"></div>

<form action="techRequirements" method="GET" class="centerForced pdHead pdInline scale-in-center">

    <span class="midText textCenter" style="font-weight: 700">Modulo tecnico</span>


    <!-- Selezione RAM -->
    <select id="ram" name="ram" class="smallText shadow" th:attr="data-id=${idSuperProdotto}" onchange="changeOptions(this, 'ram')">
        <option value="" selected>RAM</option>
        <th:block th:each="ram : ${ramValues}">
            <option th:value="${ram}" th:text="${ram + 'GB'}"></option>
        </th:block>
    </select>

    <!-- Selezione Spazio di archiviazione -->
    <select id="storage" name="storage" class="smallText shadow" th:attr="data-id=${idSuperProdotto}" onchange="changeOptions(this, 'storage')">
        <option value="" selected>Spazio di archiviazione</option>
        <th:block th:each="storage : ${storageValues}">
            <option th:value="${storage}" th:text="${storage + 'GB'}"></option>
        </th:block>
    </select>

    <!-- Selezione Colore -->
    <select id="color" name="color" class="smallText shadow" th:attr="data-id=${idSuperProdotto}" onchange="changeOptions(this, 'color')">
        <option value="" selected>Colore</option>
        <th:block th:each="color : ${colorValues}">
            <option th:value="${color}" th:text="${color}"></option>
        </th:block>
    </select>


    <input type="hidden" name="idSuperProdotto" th:value="${idSuperProdotto}">
    <button class="violetBtn normalText" type="submit">Avanti</button>
</form>


<script th:src="@{/js/changeOptions.js}"></script>
</body>
</html>