<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body class="centerForced" style="height: 100vh; overflow: hidden; flex-direction: column;">

<div class="bigText textCenter">Area Utente</div>

<div class="authContainer shadow mt20 scale-in-center">
    <div id="logInForm">
        <form class="authForm" action="purchaserLogin" method="POST" onsubmit="return validateLoginForm()">
            <span class="bigText">Sign in</span>
            <input class="smallText" id="emailLogin" name="email" type="email" placeholder="Email" required>
            <input class="smallText" id="passwordLogin" name="password" type="password" placeholder="Password"  required>
            <button type="submit" class="button violetBtn normalText mt20">Log in</button>
        </form>
    </div>

    <div id="logInCall">
        <span class="bigText">Non hai un account?</span>
        <span class="smallText">Registrati ora per usufruire dei servizi della piattaforma Lambda</span>
        <button class="button whiteBtn normalText" id="activeButton">Sign up</button>
    </div>

    <div id="signUpForm">
        <form class="authForm" action="purchaserSignup" method="POST" onsubmit="return validateUserSignUpForm()">
            <span class="bigText textCenter">Crea Account acquirente</span>
            <input id="userName" class="smallText" name="nome" placeholder="Nome" required>
            <input id="userSurname" class="smallText" name="cognome" placeholder="Cognome" required>
            <input id="userEmail" class="smallText" name="email" type="email" placeholder="Email"  required>
            <input id="userPassword" class="smallText" name="password" type="password" placeholder="Password" required>
            <input id="userConfirmPassword" class="smallText" name="confermaPassword" type="password" placeholder="Confirm password" required>
            <div style="width: 80%;">Hai già un account? <span id="removeButton" style="color: #874BFF;" class="underline clickable">Log in </span></div>
            <button type="submit" class="button violetBtn normalText mt20">Sign Up</button>
        </form>
    </div>

    <div id="signUpCall">
        <span class="bigText">Sei un'azienda rivenditrice?</span>
        <span class="smallText">Registrati ora per ampliare il tuo mercato, raggiungere nuovi clienti e gestire il tuo business</span>
        <a th:href="@{/vendorAuth}" style="color: white;">
            <button class="button whiteBtn normalText">Sign up</button>
        </a>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/authSlice.js}"></script>

<script type="text/javascript" th:src="@{/js/validateAuthForm.js}"></script>


</body>
</html>