<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/myCart.css}">
    <link rel="stylesheet" th:href="@{/css/checkoutSummary.css}">
</head>
<body>

<div th:replace="fragments :: headerNormal"></div>

<div class="bigText pdHead pdInline textCenter">Sommario ordine</div>

<div class="pdInline mt20" id="globalBox">
    <div class="cart">
        <div class="cardContainer mt20">
            <div class="card shadow" th:each="insertion : ${session.carrello.getCarrelloItems()}">
                <img th:src="${insertion.getInserzione().getProdotto().getSuperProdotto().getImmagine()}" alt="">
                <div class="infoBlock">
                    <span class="normalText" th:text="${insertion.getInserzione().getProdotto().getSuperProdotto().getModello()}"></span>

                    <div class="rating mt10">
                        <img th:src="@{/images/fullStar.svg}" alt="">
                        <img th:src="@{/images/fullStar.svg}" alt="">
                        <img th:src="@{/images/fullStar.svg}" alt="">
                        <img th:src="@{/images/fullStar.svg}" alt="">
                        <img th:src="@{/images/fullStar.svg}" alt="">
                    </div>

                    <div class="italic smallText mt10" th:text="'di ' + ${insertion.getInserzione().getRivenditore().getRagioneSociale()}"></div>

                    <div class="smallText mt10" th:text="'Quantità: ' + ${insertion.getQuantita()}"></div>
                    <span class="midText bottomRight mt10" th:text="${'€ ' + #numbers.formatDecimal(insertion.getInserzione().returnDiscountedPrice(session.acquirente.premium), 2, 2)}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="recap">
        <div class="midText mt20"><b>Indirizzo</b>: <span th:text="${indirizzo}"></span></div>

        <div th:if="${!lambda}" class="midText mt20"><b>Carta</b>: <span th:text="${numeroCarta}"></span></div>

        <div class="midText mt20"><b>Totale</b>:
            <span th:if="${!lambda}" th:text="${'€ ' + #numbers.formatDecimal(session.carrello.getPrezzoProvvisorio() + 3.99, 2, 2)}"></span>
            <span th:if="${lambda}"
                  th:text="${(T(java.lang.Math).round((session.carrello.getPrezzoProvvisorio() + 3.99) / 10.0)) + ' Lambda points'}">
            </span>
        </div>


        <form class="btns mt50" action="checkoutFinalization" method="POST">
            <input type="hidden" name="indirizzoSpedizione" th:value="${indirizzo}">
            <input type="hidden" name="destinatario" th:value="${destinatario}">
            <input type="hidden" name="numeroCarta" th:value="${numeroCarta}">
            <input type="hidden" name="intestatario" th:value="${intestatarioCarta}">
            <input type="hidden" name="cvv" th:value="${cvv}">
            <input type="hidden" name="scadenza" th:value="${scadenza}">
            <input type="hidden" name="lambda" th:value="${lambda}">
            <button class="button violetBtn" type="submit" name="action" value="conferma">
                <span class="smallText clickable" style="font-weight: 600">Conferma ordine</span>
            </button>

            <button class="button whiteBtn" type="submit" name="action" value="annulla">
                <span class="smallText clickable" style="font-weight: 600">Annulla ordine</span>
            </button>
        </form>



    </div>
</div>
</body>
</html>